<section style="width:100%" class="footer-row">
    <footer id="homepage-footer" class="twelve-column townsuite-footer clearfix">
        <nav>
            <ul class="o-nav">
                <li class="o-nav__header">TownSuite</li>
                <li class="o-nav__item"><a href="/desktop">Desktop apps</a>
                </li>
                <li class="o-nav__item"><a href="/web">Web apps</a>
                </li>
                <li class="o-nav__item"><a href="/mobile">Mobile apps</a>
                </li>
                <li class="o-nav__item"><a href="/features">Features</a>
                </li>
            </ul>
            <ul class="o-nav">
                <li class="o-nav__header">Company</li>
                <li class="o-nav__item"><a href="/about">About</a>
                </li>
                <li class="o-nav__item"><a href="/news">News</a>
                </li>
                <li class="o-nav__item"><a href="/Status">Status</a>
                </li>
                <li class="o-nav__item"><a href="/events">Events</a>
                </li>
            </ul>
            <ul class="o-nav">
                <li class="o-nav__header">Products</li>
                <li class="o-nav__item"><a href="/finance">Finance and revenue</a>
                </li>
                <li class="o-nav__item"><a href="/AM">Asset management</a>
                </li>
                <li class="o-nav__item"><a href="/HRIS">HRIS</a>
                </li>
                <li class="o-nav__item"><a href="/LAND">Land management</a>
                </li>
            </ul>
            <ul class="o-nav">
                <li class="o-nav__header"> &nbsp; </li>
                <li class="o-nav__item"><a href="/eBills">eBills and ePayments</a>
                </li>
                <li class="o-nav__item"><a href="/Events-facilities">Event and facilities</a>
                </li>
                <li class="o-nav__item"><a href="/Service-requests">Service requests</a>
                </li>
            </ul>
            <ul class="o-nav">
                <li class="o-nav__header">Support</li>
                <li class="o-nav__item"><a href="https://ebills.ws.townsuite.com/issue/new">Helpdesk</a>
                </li>
                <li class="o-nav__item"><a href="/contact">Contact us</a>
                </li>
                <li class="o-nav__item"><a href="/cookies">Cookies</a>
                </li>
                <li class="o-nav__item"><a href="/privacy">Privacy &amp; Terms</a>
                </li>
            </ul>
            <ul class="o-nav">
                <li class="o-nav__header">Community</li>
                <li class="o-nav__item"><a href="/partner-program">Partner program</a>
                </li>
                <li class="o-nav__item"><a href="/referrals">Referrals</a>
                </li>
                <li class="o-nav__item"><a href=/documentation>Documentation</a>
                </li>
            </ul>
        </nav>
        <div id="locale-container"> &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> TownSuite Municipal Software <img border="0" src="./assets/favicon.ico?v=1.814.0.15739" alt="TownSuite Emblem"></div>
    </footer>
</section>
