---
layout: default
---


// looping trough all posts
	{% for post in site.posts limit: 1 %}

	// if the category we want to exclude matches
			{% if post.category == "jobs" %}
			// we do nothing
			{% else if %}
			// if it's another category, we display the article
			<article>
				<div class="page-content wc-container">
					<div class="post">
						<h1>{{ page.title }}</h1>
						<div class="post">
							{{ content }}
						</div>
					</div>
				</div>
			</article>
			{% endif %}
	{% endfor %}
